<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SwiftLink - URL Shortener</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
</head>
<body>
    <nav>
        <a href="{% url 'swiftlink:home' %}"><strong>SwiftLink</strong></a> |

        {% if user.is_authenticated %}
            <span>Hello, {{ user.username }}!</span> |
            <a href="{% url 'swiftlink:logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'swiftlink:login' %}">Login</a> |
            <a href="{% url 'swiftlink:register' %}">Register</a>
        {% endif %}
    </nav>

    <hr>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <hr>
    <footer>
        <p>&copy; SwiftLink </p>
    </footer>
</body>
</html>