{% extends "swiftlink/base.html" %}

{% block content %}
<div class="dashboard">
    <h2> Welcome, {{ request.user.username }}</h2>
    <form method="POST" action="">
        {% csrf_token %}
        <input type="url" name="original_url" placeholder="Paste long URL here" required>
        <button type="submit">Shorten</button>
    </form>

    <hr>
    {% if new_url %}
        <p>Your link: 
            <a href="{% url 'swiftlink:redirect' new_url.short_key %}" target="_blank">
                swiftlink/{{ new_url.short_key }}/
            </a>
        </p>
    {% endif %}

    {% if urls %}
    <table>
        <thead>
            <tr>
                <th>Original URL</th>
                <th>Short Link</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for url in urls %}
            <tr>
                <td>
                    <a href="{{ url.original_url}}" target="_blank">
                        {{ url.original_url|truncatechars:50 }}
                    </a>
                </td>
                <td>
                    <a href="{% url 'swiftlink:redirect' url.short_key %}">
                        /s/{{ url.short_key }}
                    </a>
                </td>
                <td>{{ url.created|date:"M d, Y" }}</td>
                <td>
                    <form method="POST" action="{% url 'swiftlink:delete_url' url.short_key %}">
                        {% csrf_token %}
                        <button type="submit" onclick="return confirm('Delete this link?')">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p> You haven't shortened any Urls yet.
            <a href="{% url 'swiftlink:dashboard' %}">
                Create one
            </a>
        </p>  
    {% endif %}
</div>
{% endblock %}